header {
    background-color: rgba(24, 24, 24, 1);
}

.intro {
    padding: 30px 20px;
    text-align: center;
    position: relative; 
    color: #FFF; 
}

.kontakt-content {
  color: #111;
  padding: 50px 20px;
  font-family: 'Texturina', serif;
}

.kontakt-box {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.kontakt-info {
  flex: 1;
  min-width: 280px;
}

.kontakt-info h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.kontakt-info p {
  margin-bottom: 15px;
  line-height: 1.5;
}

.kontakt-info a {
  color: #111;
  text-decoration: underline;
}

.kontakt-info .socials a {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #111;
}

.kontakt-img {
  flex: 1;
  min-width: 280px;
}

.kontakt-img img {
  width: 100%;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.map-container {
  position: relative;
  padding-bottom: 56.25%; /* Poměr 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  margin: 0 auto; /* Přidáno pro vycentrování */
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media (max-width: 880px) {
  .background-paper h1 {
    padding-top: 120px; /* větší odsazení kvůli menu */
    
  }
}
@media (max-width: 768px) {

   
  .kontakt-box {
    flex-direction: column;
    text-align: center;
  }

  .kontakt-info, .kontakt-img {
    width: 100%;
  }

  .kontakt-info .socials a {
    margin-right: 10px;
  }

  .map-container {
    width: 90%;
    height: 300px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .background-paper h1 {
    padding-top: 120px; /* větší odsazení kvůli menu */
    font-size: 2.7rem;
  }
}

@media (max-width: 480px) {
  .map-container {
    width: 100%;
    height: 250px;
    text-align: center;
  }
}
